* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.background {
  height: 100vh;
  width: 100wh;
  background: linear-gradient(
    45deg,
    #08d9d6,
    #42c2ff,
    #892cdc,
    #ff2e63,
    #ff5200
  );
  background-size: 300% 300%; /* background-size: width height; */
  animation: bg-color 10s ease-in-out infinite;
}

@keyframes bg-color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
